<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container" id="app">

        <div class="row">
            <div v-for="prof in getProfessions" @click="selectProfession(prof)" class="d-inline-block btn btn-primary m-2">
                {{ prof }}
            </div>
        </div>

        <template v-if="selectedProfession">
            <div class="row" v-for="(items, key, index) in sortBdByTier">
                <div class="w-100">Tier {{key}}</div>
                <template v-for="item in items">
                    <div v-if="item.refined" @click="clickItem(item)" class="d-inline-block btn btn-secondary m-3">
                        <img :src="item.img" width="100" class="border">
                        <h5>{{ item.title }}</h5>
                    </div>
                </template>
            </div>
        </template>

        <template v-if="clickedItem">
            <div class="row text-center">
                <input type="text" v-model="quantity">
            </div>
            <template v-for="(items, index) in resForCraft">
                <div class="w-100 bg-light">Пробел</div>
                <template v-for="item in items">
                    <div class="row mt-2">
                        <div class="col-3" @click="clickItem(item, index+1)">
                            <img :src="item.img" width="100" class="border">
                        </div>
                        <div class="col-9">
                            <h5>{{ item.title }}</h5>
                            <p>{{ item.quantity }}</p>
                        </div>
                    </div>
                </template>
            </template>
        </template>

    </div>
</body>
</html>

<script>

    new Vue({
        el: '#app',
        data: {
            clickedItem: null,
            clickedSupItem: null,
            resForCraft: [],
            quantity: 1,
            selectedProfession: null,
            deep: 0,

            bd: {
                greenWood: {
                    title: 'Green Wood',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 1,
                    type: 'wood',
                    prof: 'logging',
                    refined: false,
                },
                agedWood: {
                    title: 'Aged Wood',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 2,
                    type: 'wood',
                    profession: 'logging',
                    refined: false,
                },
                timber: {
                    title: 'Timber',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 2,
                    type: 'wood',
                    profession: 'woodworking',
                    refined: true,
                },
                lumber: {
                    title: 'Lumber',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 3,
                    type: 'wood',
                    profession: 'woodworking',
                    refined: true,
                },
                wyrdwood : {
                    title: 'Wyrdwood ',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 4,
                    type: 'wood',
                    profession: 'logging',
                    refined: false,
                },
                wyrdwoodPlanks: {
                    title: 'Wyrdwood Planks',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 4,
                    type: 'wood',
                    profession: 'woodworking',
                    refined: true,
                },

                ironOre: {
                    title: 'Iron Ore',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 1,
                    type: 'ore',
                    profession: 'mining',
                    refined: false,
                },
                ironIngot: {
                    title: 'Iron Ingot',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 2,
                    type: 'ore',
                    profession: 'smelting',
                    refined: true,
                },
                steelIngot: {
                    title: 'Steel Ingot',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 3,
                    type: 'ore',
                    profession: 'smelting',
                    refined: true,
                },
                starmetalOre: {
                    title: 'Starmetal Ore',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 4,
                    type: 'ore',
                    profession: 'mining',
                    refined: false,
                },
                starmetalIngot: {
                    title: 'Starmetal Ingot',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 4,
                    type: 'ore',
                    profession: 'smelting',
                    refined: true,
                },

                fiber: {
                    title: 'Fiber',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 1,
                    type: 'fiber',
                    profession: 'harvesting',
                    refined: false,
                },
                linen: {
                    title: 'Linen',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 2,
                    type: 'fiber',
                    profession: 'weaving',
                    refined: true,
                },
                sateen: {
                    title: 'Sateen',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 3,
                    type: 'fiber',
                    profession: 'weaving',
                    refined: true,
                },
                silk: {
                    title: 'Silk',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 4,
                    type: 'fiber',
                    profession: 'weaving',
                    refined: true,
                },
                silkThreads: {
                    title: 'Silk Threads',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 4,
                    type: 'fiber',
                    profession: 'harvesting',
                    refined: false,
                },

                charcoal: {
                    title: 'Charcoal',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 2,
                    type: 'other',
                    profession: 'smelting',
                    refined: true,
                },
                flux: {
                    title: 'Flux',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 3,
                    type: 'other',
                    refined: false,
                },
                coarseSandpeper: {
                    title: 'Coarse Sandpeper',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 3,
                    type: 'other',
                    refined: false,
                },
                crossweave: {
                    title: 'Crossweave',
                    img: 'https://cdn.newworldfans.com/db_images/db/items_hires/ingott2.png',
                    tier: 3,
                    type: 'other',
                    refined: false,
                }
            },
            /*
            Logging
            Mining
            Fishing
            Harvesting
            Skinning

            Smelting
            Woodworking
            Leatherworking
            Weaving
            Stoneсutting

            Weaponsmithing
            Armoring Jewelcrafting
            Engineering и Furnishing
            Arcana
            Cooking
             */
        },
        created() {

        },
        watch: {
            quantity(val, oldval) {
                // if (!val) val = oldval;
                if (this.clickedItem && val > 0) {
                    this.craft(this.clickedItem);
                    this.resForCraft.forEach(items=>{
                        items.forEach(item=>{
                            item.quantity = item.quantity / oldval * val;
                        }) ;
                    });
                }
            }
        },
        computed: {
            sortBdByTier() {
                let tiers = {};
                for (let key in this.bd) {
                    if (this.bd[key].profession === this.selectedProfession) {
                        if (tiers[this.bd[key].tier]) {
                            tiers[this.bd[key].tier].push(this.bd[key]);
                        } else {
                            tiers[this.bd[key].tier] = [];
                            tiers[this.bd[key].tier].push(this.bd[key]);
                        }
                    }
                }
                return tiers;
            },
            getProfessions() {
                let profs = {};
                for (let key in this.bd) {
                    if (!profs[this.bd[key].profession] && this.bd[key].profession && this.bd[key].refined) {
                        profs[this.bd[key].profession] = [];
                        profs[this.bd[key].profession] = this.bd[key].profession;
                    }
                }
                return profs;
            }
        },
        methods: {
            clickItem(item, deep = 0) {
                if (item.refined) {
                    // this.clickedSupItem = null;
                    this.deep = deep;

                    // if (this.clickedItem == item) {
                    //     this.clickedItem = null;
                    //     console.log('1');
                    // } else {
                    this.clickedItem = item;
                    this.craft(item);
                    // }
                    console.log(this.resForCraft);
                }
            },
            craft(item) {
                if (item) {
                    this.resForCraft.splice(this.deep);
                    switch (item.type) {
                        case 'ore':
                            this.craftOre(item);
                            break;
                        case 'wood':
                            this.craftWood(item);
                            break;
                        case 'fiber':
                            this.craftFiber(item);
                            break;
                        case 'other':
                            this.craftOther(item);
                            break;
                        default:
                            alert( "Данный предмет пока не поддерживается!" );
                    }
                }
            },
            craftOre(item) {
                if (item.tier === 2) {
                    this.getComponent('ironOre', 4);
                } else if (item.tier === 3) {
                    this.getComponent('ironIngot', 3);
                    this.getComponent('charcoal', 2);
                    this.getComponent('flux', 1);
                } else if (item.tier === 4) {
                    this.getComponent('starmetalOre', 6);
                    this.getComponent('steelIngot', 2);
                    this.getComponent('charcoal', 2);
                    this.getComponent('flux', 1);
                }
            },
            craftWood(item) {
                if (item.tier === 2) {
                    this.getComponent('greenWood', 4);
                } else if (item.tier === 3) {
                    this.getComponent('agedWood', 4);
                    this.getComponent('timber', 2);
                    this.getComponent('coarseSandpeper', 1);
                } else if (item.tier === 4) {
                    this.getComponent('wyrdwood', 6);
                    this.getComponent('lumber', 2);
                    this.getComponent('coarseSandpeper', 1);
                }
            },
            craftFiber(item) {
                if (item.tier === 2) {
                    this.getComponent('fiber', 4);
                } else if (item.tier === 3) {
                    this.getComponent('linen', 4);
                    this.getComponent('crossweave', 1);
                } else if (item.tier === 4) {
                    this.getComponent('silkThreads', 6);
                    this.getComponent('sateen', 2);
                    this.getComponent('crossweave', 1);
                }
            },
            craftOther(item) {
                if (item.title === 'Charcoal') {
                    this.getComponent('greenWood', 2);
                }
            },
            getComponent(name, quantity) {
                this.resForCraft[this.deep] ? '' : this.resForCraft[this.deep] = [];
                this.resForCraft[this.deep].push(
                    {
                        title : this.bd[name].title,
                        quantity: this.clickedItem.quantity
                            ? quantity * this.clickedItem.quantity
                            : quantity * this.quantity,
                        img: this.bd[name].img,
                        type : this.bd[name].type,
                        prof: this.bd[name].profession,
                        refined: this.bd[name].refined,
                        tier: this.bd[name].tier,
                    }
                );
            },
            selectProfession(prof) {
                this.clickedItem = null;
                this.clickedSupItem = null;

                if (this.selectedProfession == prof) {
                    this.selectedProfession = null;
                } else {
                    this.selectedProfession = prof;
                }
            },
        },
    })

</script>